#map {
    height: 100%;
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
    font-family: "sans-serif", "Arial", "Verdana";
    font-size: 16px;
    margin: 0;
}
h2 {
    margin: 0;
    margin-bottom: 5px;
}